In [3]:
import pandas as pd 
import numpy as np

In [ ]:
datas = pd.date_range(start='20230101', periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=datas, columns=['var_a', 'var_b', 'var_c', 'var_d'])

In [14]:
df2 = pd.DataFrame({'A': 1.,
                     'B':pd.Timestamp('20230102'),
                     'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D':np.array([3]*4,dtype='int32'),
                     'E':pd.Categorical(['test','train','test','train']),
                     'F':'Python'})

In [ ]:
df2.dtypes

In [ ]:
df2.describe()

In [ ]:
df1 =df.reindex(index=datas[0:4], columns=list(df.columns) + ['var_e'])
df1

In [19]:
df1.loc[datas[0]:datas[1],'var_e'] = 77
df1

               var_a     var_b     var_c     var_d  var_e
2023-01-01  0.704536 -1.183882 -0.974611 -0.825896   77.0
2023-01-02 -0.532394  1.166766 -0.438167  1.227135   77.0
2023-01-03 -0.931336 -0.211891  0.374345 -0.502741    NaN
2023-01-04 -1.804437  0.438951  1.696542 -0.777922    NaN

In [20]:
df1.dtypes

var_a    float64
var_b    float64
var_c    float64
var_d    float64
var_e    float64
dtype: object