In [9]:
import pandas as pd
import numpy as np

In [6]:
d = {'col1': [1, 2], 'col2': [3, 4]}
df = pd.DataFrame(d)
df

   col1  col2
0     1     3
1     2     4

In [7]:
df.dtypes

col1    int64
col2    int64
dtype: object

In [10]:
df = pd.DataFrame(data=d, dtype=np.int8)
df.dtypes

col1    int8
col2    int8
dtype: object

In [ ]:
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])
   col1  col2
0     0   NaN
1     1   NaN
2     2   2.0
3     3   3.0