In [1]:
import pandas as pd

In [5]:
#criando um dataframa com dados categorios
data = {'cor':['vermelho','azul','verde','azul','vermelho']}
df = pd.DataFrame(data)

In [6]:

df['cor'].unique()

array(['vermelho', 'azul', 'verde'], dtype=object)

In [7]:
#mapa de cores
mapa = {'vermelho':1, 'verde':2, 'azul':3}

In [8]:
df['cor_numero'] = df['cor'].map(mapa)

In [9]:
df

        cor  cor_numero
0  vermelho           1
1      azul           3
2     verde           2
3      azul           3
4  vermelho           1