In [1]:
import pandas as pd

In [4]:
dados_vendas = {
    'produto':    ['Camisa', 'Camisa', 'Calça', 'Jaqueta', 'Vestido', 'Meia', 'Calça', 'Camisa', 'Jaqueta'],
    'preco':      [49.90, 49.90, 129.90, 199.90, 89.90, 9.90, 129.90, 49.90, 199.90],
    'quantidade': [10, 5, 7, 3, 4, 20, 2, 6, 1],
    'Mes':        ['jan', 'fev', 'jan', 'fev', 'jan', 'fev', 'jan', 'fev', 'jan'],
}

In [15]:
df_vendas = pd.DataFrame(dados_vendas)
df_vendas

   produto  preco  quantidade  Mes
0   Camisa   49.9          10  jan
1   Camisa   49.9           5  fev
2    Calça  129.9           7  jan
3  Jaqueta  199.9           3  fev
4  Vestido   89.9           4  jan
5     Meia    9.9          20  fev
6    Calça  129.9           2  jan
7   Camisa   49.9           6  fev
8  Jaqueta  199.9           1  jan

In [ ]:
#Calculand a receita total
df_vendas['receitas'] = df_vendas['preco'] * df_vendas['quantidade']

   produto  preco  quantidade  Mes  receitas
0   Camisa   49.9          10  jan     499.0
1   Camisa   49.9           5  fev     249.5
2    Calça  129.9           7  jan     909.3
3  Jaqueta  199.9           3  fev     599.7
4  Vestido   89.9           4  jan     359.6
5     Meia    9.9          20  fev     198.0
6    Calça  129.9           2  jan     259.8
7   Camisa   49.9           6  fev     299.4
8  Jaqueta  199.9           1  jan     199.9

In [10]:
resumo_vendas = df_vendas.groupby('produto')['receitas'].sum().reset_index()
resumo_vendas

   produto  receitas
0    Calça    1169.1
1   Camisa    1047.9
2  Jaqueta     799.6
3     Meia     198.0
4  Vestido     359.6

In [11]:
produtos_altas_vendas = resumo_vendas[resumo_vendas['receitas'] > 1000]
produtos_altas_vendas

  produto  receitas
0   Calça    1169.1
1  Camisa    1047.9

In [14]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'