In [1]:
import pandas as pd

In [2]:
# Dados extra√≠dos
Carros = [7, 4, 3, 2, 8] #Carros vendidos
dias = pd.date_range('2019-01-01', periods=5)  # Gera 5 datas a partir de 2019-01-01
vendedor = ['George', 'Vagner', 'Pedro', 'Vagner', 'George']
df = pd.DataFrame({'Vendas':Carros, 'Data':dias, 'Vendedor':vendedor})

In [3]:
df

   Vendas       Data Vendedor
0       7 2019-01-01   George
1       4 2019-01-02   Vagner
2       3 2019-01-03    Pedro
3       2 2019-01-04   Vagner
4       8 2019-01-05   George

In [11]:
pd.pivot_table(df, index='Data', columns='Vendedor', values='Vendas', aggfunc='sum')

Vendedor    George  Pedro  Vagner
Data
2019-01-01     7.0    NaN     NaN
2019-01-02     NaN    NaN     4.0
2019-01-03     NaN    3.0     NaN
2019-01-04     NaN    NaN     2.0
2019-01-05     8.0    NaN     NaN