In [1]:
import pandas as pd 
import numpy as np

In [2]:
datas = pd.date_range(start='20230101', periods=6)

df = pd.DataFrame(np.random.randn(6,4), index=datas, columns=['var_a', 'var_b', 'var_c', 'var_d'])
df

               var_a     var_b     var_c     var_d
2023-01-01  1.204817 -0.917624  1.217318 -0.158796
2023-01-02  0.329198 -2.436254  0.031800 -0.387120
2023-01-03  1.594510 -0.756019 -1.163942 -0.116046
2023-01-04  0.772754  1.074544 -1.364047 -0.674598
2023-01-05 -0.585834 -0.263549 -1.024671  0.383855
2023-01-06 -0.513212 -0.380707 -0.165182 -0.440164

In [3]:
#Transpondo a tabela
df.T

       2023-01-01  2023-01-02  2023-01-03  2023-01-04  2023-01-05  2023-01-06
var_a    1.204817    0.329198    1.594510    0.772754   -0.585834   -0.513212
var_b   -0.917624   -2.436254   -0.756019    1.074544   -0.263549   -0.380707
var_c    1.217318    0.031800   -1.163942   -1.364047   -1.024671   -0.165182
var_d   -0.158796   -0.387120   -0.116046   -0.674598    0.383855   -0.440164

In [4]:
df.shape

(6, 4)

In [5]:
#Extraindo os valores
np.size(df.values)

24

In [6]:
v = df.values

In [7]:
v.reshape(8,3)

array([[ 1.20481688, -0.91762391,  1.21731774],
       [-0.15879592,  0.32919753, -2.43625405],
       [ 0.03180039, -0.38712019,  1.59451021],
       [-0.75601903, -1.16394196, -0.11604617],
       [ 0.77275356,  1.07454441, -1.36404669],
       [-0.6745977 , -0.58583378, -0.26354873],
       [-1.02467055,  0.38385531, -0.51321156],
       [-0.38070727, -0.16518171, -0.44016351]])