In [1]:
import pandas as pd 
import numpy as np

In [8]:
datas = pd.date_range('20180101', periods=600, freq='D')
df = pd.DataFrame(np.random.randn(600,5), index = datas, columns = list('ABCDe'))

In [10]:
df.head(2)

                   A         B         C         D         e
2018-01-01 -0.827943 -0.862371 -0.298441 -0.874859 -0.217054
2018-01-02  0.395697  1.634074  0.775118 -0.344320 -1.702332

In [14]:
#Obtendo os dados apenas da coluna D
df['D'].head(5)

2018-01-01   -0.874859
2018-01-02   -0.344320
2018-01-03    0.743121
2018-01-04   -0.956839
2018-01-05   -0.687890
Freq: D, Name: D, dtype: float64

In [16]:
#Obter linhas específicas
df.iloc[1:5]

                   A         B         C         D         e
2018-01-02  0.395697  1.634074  0.775118 -0.344320 -1.702332
2018-01-03  0.610702  0.456923  0.150257  0.743121 -0.319272
2018-01-04 -0.215370  1.310690 -0.244658 -0.956839  1.103530
2018-01-05  0.190108 -0.418582  2.645130 -0.687890 -1.080519

In [17]:
# Obter a coluna BCDE
df.loc[:, 'B':'E'].head(5)

                   B         C         D
2018-01-01 -0.862371 -0.298441 -0.874859
2018-01-02  1.634074  0.775118 -0.344320
2018-01-03  0.456923  0.150257  0.743121
2018-01-04  1.310690 -0.244658 -0.956839
2018-01-05 -0.418582  2.645130 -0.687890

In [24]:
# Slice retornando um periodo de data e colunas especificas
df.loc['2018-01-10':'2018-01-20', ['B', 'D'] ].head(5)

                   B         D
2018-01-10  1.309529 -1.191418
2018-01-11  1.310193  0.846966
2018-01-12  0.709689  1.883856
2018-01-13 -0.196274 -0.466136
2018-01-14  1.239736 -0.726778

In [25]:
#selecionar apenas uma linha
df.iloc[5]

A   -0.145385
B    1.384362
C   -1.717409
D    0.598147
e   -2.748556
Name: 2018-01-06 00:00:00, dtype: float64

In [29]:
#Pegar valor de determinada linha e coluna  
df.iloc[2:4, 1:3]

                   B         C
2018-01-03  0.456923  0.150257
2018-01-04  1.310690 -0.244658

In [31]:
#Extrair conjunto de linhas
df.iloc[[1,3,5], [0,3]]

                   A         D
2018-01-02  0.395697 -0.344320
2018-01-04 -0.215370 -0.956839
2018-01-06 -0.145385  0.598147

In [32]:

#Selecionar dados especifico  de uma linha e todas as colunas
df.iloc[1:3, :]

                   A         B         C         D         e
2018-01-02  0.395697  1.634074  0.775118 -0.344320 -1.702332
2018-01-03  0.610702  0.456923  0.150257  0.743121 -0.319272

In [ ]:
#filtar os valores positivos de uma coluna
df[df.A > 0]

                   A         B         C         D         e
2018-01-02  0.395697  1.634074  0.775118 -0.344320 -1.702332
2018-01-03  0.610702  0.456923  0.150257  0.743121 -0.319272
2018-01-05  0.190108 -0.418582  2.645130 -0.687890 -1.080519
2018-01-07  0.109840 -0.286703  0.289183 -0.578659 -0.042179
2018-01-08  1.264491 -1.084971  1.977734 -0.061352  1.472749
...              ...       ...       ...       ...       ...
2019-08-17  1.616474 -0.263628  0.141913 -1.613447  0.655226
2019-08-18  1.130068  0.599419  0.489016  0.590589  0.926340
2019-08-20  0.562827 -0.622496 -0.117368 -0.812166  0.723907
2019-08-22  0.670912  0.280175 -0.001523 -1.258647 -0.396039
2019-08-23  1.446156  0.039608  0.400943 -0.259263 -1.255995

[311 rows x 5 columns]

In [35]:
#selcionar somente dados positivos de todas as colunas
df[df > 0].head(5)

                   A         B         C         D        e
2018-01-01       NaN       NaN       NaN       NaN      NaN
2018-01-02  0.395697  1.634074  0.775118       NaN      NaN
2018-01-03  0.610702  0.456923  0.150257  0.743121      NaN
2018-01-04       NaN  1.310690       NaN       NaN  1.10353
2018-01-05  0.190108       NaN  2.645130       NaN      NaN