In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    'A': ['verdadeiro', 'falso', 'verdadeiro', 'falso','verdadeiro', 'falso', 'verdadeiro', 'falso'],
    'B': ['um', 'um', 'dois', 'tres','dois', 'dois', 'um', 'tres'],
    'C': np.random.randn(8),
    'D': np.random.randn(8)
})

In [10]:
df

            A     B         C         D
0  verdadeiro    um  1.623758  0.105743
1       falso    um  0.744694  1.054625
2  verdadeiro  dois -1.266522  0.570905
3       falso  tres  0.837114 -1.005482
4  verdadeiro  dois -0.328745  0.142890
5       falso  dois  1.056957 -1.181310
6  verdadeiro    um -0.789801  1.389818
7       falso  tres -1.717284  2.265766

In [12]:
df.groupby(['A']).mean()

TypeError: agg function failed [how->mean,dtype->object]

In [14]:
df.groupby('B')[['C','D']].mean()

             C         D
B
dois -0.179437 -0.155839
tres -0.440085  0.630142
um    0.526217  0.850062

In [ ]:
#Agrupara varias colunas
df.groupby(['A','B'])[['C','D']].mean()

                        C         D
A          B
falso      dois  1.056957 -1.181310
           tres -0.440085  0.630142
           um    0.744694  1.054625
verdadeiro dois -0.797633  0.356897
           um    0.416978  0.747780